/* CSS Document */

html,body {
    height:100%;
}
body {
    background:#FFF; 
	text-align:center;
	margin:20px;
	padding:0;
	font-family: 'Open Sans',Arial, Verdana,sans-serif;
	xxscolor:#666;
	
	}
#header a {
	color:#FFF;
	text-decoration:none;
	border-bottom:1px dotted;
	}
#header a:hover {
	border-bottom:1px solid;
	color:#FF;
	}
#wrapper1 {
    xwidth:1200px;
    font-size: small;
	position:relative;
	text-align:left;
	width:100%;
	Xbackground:#FFF url("rightcolor_bg.png") repeat-y top right;
}

#wrapper2 {
	position:relative;
	text-align:left;
	width:100%;
	Xbackground:url("leftcolor_bg.png") repeat-y top left;
}
#header h1 {font-size: large; margin-bottom: 3px;}
#header {
    height: 120px;
    xbackground:#680148;
    background-image: url(backstars.png);
	padding:10px;
	margin:0;
	text-align:center;
	color:#FFF;
	}
#header h1 {
	font-size:200%;
	}
#header a:hover {
	color:#7A2875;
	}
#maincol {
	position:relative;
	margin:0;
	padding:10px;
	}
#leftcol {
    
	position:relative;
	top:-10px;
	left:-10px;
	float:left;
	width:260px;  /* for IE5/WIN */
	voice-family: "\"}\"";
	voice-family:inherit;
	width:240px; /* actual value */
	margin:0 0 -10px 0;
	padding:10px;
	#background:#E0EFF1;
	z-index:100;
	border-right: 1px black  dotted;
	}
#rightcol {
	position:relative;
	top:-10px;
	right:-10px;
	float:right;
	width:260px;  /* for IE5/WIN */
	voice-family: "\"}\"";
	voice-family:inherit;
	width:240px; /* actual value */
	margin:0 0 -10px 0;
	padding:10px;
	#background:#E0EFF1;
	 
    border-left: 1px black dotted;
	z-index:99;
	}
#centercol {
   
        margin-right: 1px black dotted;
	position:relative;
	padding:0 260px;
	}
#centercol a {
	color:#666;
	}
#centercol a:hover {
	border-bottom:1px solid;
	color:#9343B9;
	}
#footer {
	position:relative;
	top:1px;
	xbackground:#7DB4B5;
	width:100%;
	clear:both;
	margin:0;
	padding:1% 0;
	text-align:center;
	background-image: url(backstars.png);
	#color:#CCC;
	}
